# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!.terraform.lock.hcl

# Python
__pycache__/
*.pyc
.venv/
venv/

# Environment
.env
.env.*

# Docker
*.log

# GitHub OIDC local file
github-federation.json