resource_group_name         = "pallavi-rg"
location                    = "Central India"
vnet_name                   = "pallavi-vnet"
acr_name                    = "pallaviacr"
aks_name                    = "pallavi-aks"
aks_dns_prefix              = "aks-demo"
postgres_server_name        = "pallavi"
postgres_admin_username     = "pgadmin"
postgres_database_name      = "myapp"
application_gateway_name    = "pallavi-appgw"